<header class="article__header">
  <h1 class="article__title"><%- page_title() %></h1>
</header>

<ul class="archive-list">
  <% page.posts.each(function(post, i){ %>
    <li>
      <a class="archive-list__item" href="<%- url_for(post.path) %>">
        <h2 class="archive-list__title"><%= post.title %></h2>
        <%- partial('post/date', {post: post, class_name: 'archive-list__date', date_format: null}) %>
      </a>
    </li>
  <% }) %>
</ul>

<% if (page.total > 1){ %>
  <nav class="pagination">
    <% if (page.current != 1) { %>
      <a href="<%- prev_page_link() %>" class="pagination__link pagination__link--prev">Newer posts</a>
    <% } %>
    <% if (page.current != page.total) { %>
      <a href="<%- next_page_link() %>" class="pagination__link pagination__link--next">Older posts</a>
    <% } %>
  </nav>
<% } %>
