<header class="o-page-header">
  <h1 class="o-page-header__title"><%- page_title() %></h1>
</header>

<ol class="o-page-list">
  <% page.posts.each(function(post, i){ %>
    <li>
      <a class="o-page-list__page" href="<%- url_for(post.path) %>">
        <h2 class="o-page-list__page-title"><%= post.title %></h2>
        <%- partial('post/date', {post: post, class_name: 'o-page-list__page-date'}) %>
      </a>
    </li>
  <% }) %>
</ol>

<% if (page.total > 1){ %>
  <nav class="o-pagination">
    <% if (page.current != 1) { %>
      <a href="<%- prev_page_link() %>" class="o-pagination__link  o-pagination__link--prev">Newer posts</a>
    <% } %>
    <% if (page.current != page.total) { %>
      <a href="<%- next_page_link() %>" class="o-pagination__link  o-pagination__link--next">Older posts</a>
    <% } %>
  </nav>
<% } %>
