<article itemscope itemprop="blogPost" class="article">
  <% if (post.link || post.title){ %>
    <header class="o-page-header">
      <%- partial('post/title') %>
      <div class='article__meta'>
        <%- partial('post/date', {class_name: 'article__date', date_format: null}) %>
        <%- partial('post/author', {class_name: 'article__author'}) %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
      </div>
    </header>
  <% } %>
  <div itemprop="articleBody" class="article__body">
    <%- post.content %>
  </div>
  <% if (post.comments && config.disqus_shortname){ %>
  <footer>
    <a href="<%- post.permalink %>#disqus-thread">Comments</a>
  </footer>
  <% } %>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="disqus-thread">
  <div>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
