<article itemscope itemprop="blogPost" class="article">
  <% if (post.link || post.title){ %>
    <header class="article__header">
      <%- partial('post/title', {class_name: 'article__title'}) %>
      <div class='article__meta'>
        <%- partial('post/date', {class_name: 'article__date'}) %>
        <%- partial('post/author', {class_name: 'article__author'}) %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
      </div>
    </header>
  <% } %>
  <%- partial('post/gallery') %>
  <div itemprop="articleBody" class="article__body">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <p>
          <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
      <% } %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
  <% if (post.comments && config.disqus_shortname){ %>
  <footer>
    <a href="<%- post.permalink %>#disqus-thread">Comments</a>
  </footer>
  <% } %>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="disqus-thread">
  <div>
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
