header.c-site-header
  if is_home()
    h1.c-site-header__branding
      a(href=url_for())= config.title
  else
    .c-site-header__branding
      a(href=url_for())= config.title
  a.c-site-header__rss-link(href=url_for("atom.xml") title="RSS Feed")
    i.icon-rss
  nav.c-site-nav: ul.u-list--horizontal
    li.c-site-nav__item(class=class_if("c-site-nav__item--current", is_home()))
      a(href=url_for("/")) Latest post
    li.c-site-nav__item(class=class_if("c-site-nav__item--current", is_archive()))
      a(href=url_for("/archives")) Browse posts
    li.c-site-nav__item(class=class_if("c-site-nav__item--current", is_current("about")))
      a(href=url_for("/about")) About
