<header class="site-header">
  <% if (is_home()) { %>
    <h1 class="site-header__title">
      <a href="<%- url_for() %>"><%= config.title %></a>
    </h1>
  <% } else { %>
    <div class="site-header__title">
      <a href="<%- url_for() %>"><%= config.title %></a>
    </div>
  <% } %>
  <% if (theme.subtitle) { %>
    <h2>
      <a href="<%- url_for() %>"><%= theme.subtitle %></a>
    </h2>
  <% } %>
  <nav class="site-header__nav">
    <% for (var i in theme.menu) { %>
      <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
  </nav>
  <nav class="site-header__tools">
    <% if (theme.rss) { %>
      <a href="<%- theme.rss %>" title="RSS Feed">RSS Feed</a>
    <% } %>
  </nav>
</header>
