if is_home()
  meta(property="og:type" content="site")
  meta(property="og:url" content=config.url)
  meta(property="og:site_name" content=config.title)
if is_post()
  if page.excerpt
    meta(name="description" content=page.excerpt)
  meta(property="og:site_name" content=config.title)
  meta(property="og:type" content="article")
  meta(property="og:title" content=page.title)
  meta(property="og:url" content=page.permalink)
  meta(property="og:description" content=page.excerpt)
  meta(property="og:updated_time" content=page.updated.toISOString())
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@doryphores")
  meta(name="twitter:title" content=page.title)
  meta(name="twitter:description" content=page.excerpt)
